<div class="row">
    <div class="col-1 text-center">{{ index + 1 }}</div>
    <div class="col-2 text-center">{{ person.firstName }}</div>
    <div class="col-3 text-center">{{ person.lastName }}</div>
    <div class="col-3 text-center">{{ person.email }}</div>
    <div class="col-3 text-center">
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(person)">
          Edit
      </button>
      <button type="button" class="btn btn-primary me-2" (click)="delete(person)">
        Delete
      </button>
      <button class="btn btn-primary" type="button" (click)="showDescription()" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseExample-'+ index" aria-expanded="false" [attr.aria-controls]="'collapseExample-'+ index">
        <i class="bi bi-arrow-down" *ngIf="!isDescriptionShown"></i>
        <i class="bi bi-arrow-up" *ngIf="isDescriptionShown"></i>
      </button>
    
    </div>
</div>

<div  class="collapse" [id]="'collapseExample-'+ index">
    <div class="card card-body">
        {{person.description}}
    </div>
</div>


